.galleryClass {}

.projectDescriptionText {
  z-index: 2;
  background-color: transparent;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  word-break: normal;
  line-height: 30px;
  width: 1300px;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;

}


p br:after {
  content: '.';
}

.projectTitle {
  margin-top: 80px;
  margin-bottom: 20px;
  z-index: 4;
  color: #b87a9b;
  padding-top: 15px;
}

/********************************/
.slider {
  /* width: 80vw;
  height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding-top: 20px;
  flex: 3;


}

.sliderMedia {
  height: 300px !important;
  width: calc(100vw - 80px - 800px) !important;
  height: calc((100vw - 80px - 350px)/3) !important;
  margin: 0 auto;
  max-width: 800px !important;
  max-height: 500px !important;
  margin-bottom: 20px;



}




.prevNextIcon {
  min-width: 50px;
  min-width: 70px;
  width: 50px;
  height: 70px;
  padding: 10px;
  color: aliceblue;
  font-size: 5em;
  flex: 1;

}



/********************************/


.gridClass {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  background-color: transparent;
  justify-items: center;
  align-items: center;
  padding: 0px;
  margin: 0 auto;
  grid-gap: 5px 5px !important;
  justify-content: space-around;
  align-content: space-evenly;
  max-width: 70vw;





}

.gridImgVideo {
  width: calc((100vw - 80px - 140px)/5) !important;
  height: calc((100vw - 80px - 140px)/5/2) !important;
  border: 2px solid var(--color2);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;






  padding: 0;
}

.visibleClass {
  visibility: visible;
}

.hideClass {
  visibility: hidden;
}

.activeImg {
  border: 3px solid #bea000;

}